<table class = "table border h-100" >
  <th class = "border-bottom text-center pl-5 pr-5">
      ジャンル検索
  </th>
  <% genres.each do |genre| %>
  <tr class = "table-light">
    <td class ="pl-4">
      <%= link_to genre.name, items_path(genre_id: genre.id) %>
    </td>
  </tr>
  <% end %>
  <tr class="table-light h-75">
    <td>
    </td>
  </tr>
</table>
